.img-bu {
    bottom: 2%;
    right: 2%;
    position: absolute;
}

.img-sec2 {
    width: 30px;
    height: 70px;
}

.userImg {
    width: 40px;
    height: 40px;
}

.img-room {
    width: 400px;
    height: 200px;
}

.hover:hover {
    background-color: rgba($color: gray, $alpha: .3);

}

.imgOpacity:hover {
    opacity: .8;
}

.sec3 {
    div {
        h1 {
            font-size: 100px;
        }
    }

    img {
        width: 70px;
        height: 140px;
        // box-shadow: 5px 10px;    
    }

    .favoriteDesc {
        margin-left: auto;
        margin-right: auto;
        max-width: 350px;

        span {
            font-size: large;
            font-weight: bold;
        }
    }
}

.custom-edit {
    top: 20px;
}

// calender ----------------------------
// 
.ftco-section {
    padding: 1em 0;
}

.calendar-section {
    margin-bottom: 20px;
}

.calendar-section {
    margin-bottom: 20px;
}

.calendar,
.calendar_weekdays,
.calendar_content {
    max-width: 585px;
}

.calendar {
    /*float: left;*/
    margin: auto;
    min-width: 320px;
    font-weight: 100;
    background: #fff;
    padding: 10px;
    -webkit-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 4px 26px -22px rgba(0, 0, 0, 0.14);
}

.calendar_weekdays {
    color: #aaa;
    font-weight: 300;
}

.calendar_weekdays div {
    display: inline-block;
    vertical-align: top;
    color: #000;
    font-weight: 700;
}

.calendar_content,
.calendar_weekdays,
.calendar_header {
    position: relative;
}

.calendar_content:after,
.calendar_weekdays:after,
.calendar_header:after {
    content: ' ';
    display: table;
    clear: both;
}

.calendar_weekdays div,
.calendar_content div {
    /*border: 1px dotted #999;*/
    width: 14.28571%;
    height: 68px;
    line-height: 69px;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
}

.calendar_content div {
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.calendar_content div:hover {
    border: 1px solid #ededed;
    /*line-height: 68px;*/
    cursor: pointer;
}

.calendar_content div.blank:hover {
    cursor: default;
    border: none;
}

.calendar_content div.past-date {
    cursor: initial;
    color: #d5d5d5;
}

.calendar_content div.today {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-radius: 60%;
    background-color: black;
}

.calendar_content div.selected {
    background-color: rgba(153, 153, 161, 0.2);
    /*rgba(170, 170, 176, .5) #aaaab0*/
    border: 1px solid white;
}

.calendar_header {
    width: 100%;
    text-align: center;
    position: relative;
    height: 55px;
    display: table;
    vertical-align: middle;
}

.calendar_header h2 {
    margin-top: 15px;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    color: #000 !important;
    text-transform: uppercase;
}

button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #cccccc;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

button.switch-month.switch-left {
    left: 0;
}

button.switch-month.switch-right {
    right: 0;
}

button.switch-month:hover {
    color: #bd83ce;
}

button.switch-month:active {
    background-color: transparent;
}


// 
.progress {
    height: 8px;
}

.svgIcon {
    margin-top: 40px;
    display: block;
    height: 35px;
    width: 35px;
    fill: currentcolor;
}

// 
.review-card {
    border: none;
}

.review-header {
    font-weight: bold;
}

.rating {
    color: #FFD700;
    /* لون النجوم */
    font-size: 15px;
}

.review-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

// section 4

.custom_card {
    // border: 1px solid black;
    border-radius: 5%;
}

.userImg2 {
    width: 80px;
    height: 80px;
}
.star{
    font-size:13px
}